body {
  background-image: url(images/2EjnzLH.jpg);
}

h1 {
  color: skyblue;
  text-align: center;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
}

.intromod {
background-color: white;
text-align: center;
width: 50%;
margin: 0 auto;
margin-top: 200px;
}

#snow-hench{
  height: 200px;
  margin-left: 80%;
  margin-top: 500px;
  display: none;
  position: relative;
}

#snow-boss{
  height: 200px;
  margin-left: 80%;
  margin-top: 430px;
  display: none;
  position: relative;
}

#traveler{
  height: 250px;
  margin-top: 220px;
  display: none;
}