body {
  background-image: url(images/2EjnzLH.jpg);
  height: 100vh;
}

h1 {
  color: skyblue;
  text-align: center;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
}

.intromod {
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
}

#snow-hench {
  height: 270px;
  margin-left: 75%;
  margin-top: 40%;
  margin-bottom: -10%;
  display: none;
  position: fixed;
}

#snow-boss {
  height: 300px;
  position: absolute;
  margin-left: 80%;
  margin-top: 500px;
  display: none;
}

.traveler-card {
  /* border: solid 100px red; */
  height: 350px;
  margin-top: 500px;
  display: none;
  position: absolute;
}

#traveler {
  height: 350px;
}

#lantBtn {
  display: none;
}

#pickBtn {
  display: none;
}

.lostP {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin-left: 350px;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  color: rgb(247, 13, 13);
  border-radius: 10px;
  display: none;
}

.winP{
  background-color: rgb(154, 216, 237);
  text-align: center;
  width: 50%;
  margin-left: 350px;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  color: white;
  border-radius: 10px;
  display: none;
}